
*/target/**
.DS_Store
.repl_history
artifacts/facade.wasm
crawler-service/target/.rustc_info.json
Cargo.lock
crawler-service/Cargo.lock
crawler-service/target/CACHEDIR.TAG
crawler-service/target/.rustc_info.json
Cargo.lock
crawler-service/Cargo.lock
crawler-service/target/CACHEDIR.TAG
*.lock
